.announcement {
    margin-bottom: 1rem;
    border-bottom: 1px solid #646464;
}

.announcements {
  margin: 0 auto;
  max-width: 60vw;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.announcement-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.announcements h1 {
    color: #646464;
  padding: 1rem;
  margin-top: 0;
  font-size: 2rem;
  background-color: crimson;
  color: white;
  border-radius: 10px 10px 0 0;
}

.announcements h2{
    color: #646464;
    font-size: 2rem;
    margin: 0.5rem 0;
}

@media screen and (max-width: 600px) {
  .announcements {
    max-width: 95vw;
  }
}